body {
    background-image: url(lugaw.jpg);
    height: 150vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
}
#logo {
    width: 180px;
    cursor: pointer;
    border-radius: 100px;
}
.yes h1 a{
    color: whitesmoke;
    text-decoration: none;
    border: 6px solid whitesmoke;
    border-radius: 10px;
    padding-right: 30px;
    padding-left: 30px;
    position: absolute;
    top: 8%;
    left: 89%;
}
.yes h1 a:hover{
    background-color: lightpink;
    color: whitesmoke;
    padding-left: 40px;
    padding-right: 40px;
    transition: .4s;
    border-color: limegreen;
}

.yess{
     width: 85%;
    margin: auto;
    padding:40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content1{
    margin-top: 10px;
    width: 100%;
    position: absolute;
    top: 23%;
    left: 20%;
    text-align: center;
}
.content2{
    margin-top: 10px;
    width: 100%;
    position: absolute;
    top: 38%;
    left: 20%;
    text-align: center;
}
.content3{
    margin-top: 10px;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 20%;
    text-align: center;
}
.content4{
    margin-top: 10px;
    width: 100%;
    position: absolute;
    top: 80%;
    left: 20%;
    text-align: center;
}
.content1  h3{
    font-size: 11px;
}
.content1{
    font-size: 15px;
    margin-top: 10px;
}
.content2  h3{
    font-size: 11px;
}
.content2{
    font-size: 15px;
    margin-top: 10px;
}
.content3  h3{
    font-size: 11px;
}
.content3{
    font-size: 15px;
    margin-top: 10px;
}
.content4  h3{
    font-size: 11px;
}
.content4{
    font-size: 15px;
    margin-top: 1px;
}
.content5{
    margin-top: 10px;
    width: 100%;
    position: absolute;
    top: 97%;
    left: 50%;
}
.content5  h3{
    font-size: 28px;
}
.content5{
    font-size: 7px;
    margin-top: 1px;
}
.content5 h1{
    font-size: 28px;
}